<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 화면</title>
</head>
<body>
<a th:href="@{/post}">글쓰기</a>

<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>이름</th>
        <th>작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="register : ${registerList}">
        <td>
            <span th:text="${register.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${register.id}}">
                <span th:text="${register.name}"></span>
            </a>
        </td>
        <td>
            <span th:text = "${#temporals.format(register.createdTime, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>